{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(registrationForm, {'method': 'post', 'attr': {'class': ''}}) }}

        <div class="form-group">
            {{ form_label(registrationForm.email) }}
            <br>
            {{ form_widget(registrationForm.email, { 'attr': {'class': 'form-control', 'style':''}} ) }}
        </div>

        <div class="form-group">
            {{ form_label(registrationForm.pseudo) }}
            <br>
            {{ form_widget(registrationForm.pseudo, { 'attr': {'class': 'form-control', 'style':''}} ) }}
        </div>

        <div class="form-group">
            {{ form_label(registrationForm.password) }}
            <br>
            {{ form_widget(registrationForm.password, { 'attr': {'class': 'form-control', 'style':''}} ) }}
        </div>

        <div class="form-group">
            {{ form_label(registrationForm.level) }}
            <br>
            {{ form_widget(registrationForm.level, { 'attr': {'class': 'form-control', 'style':''}} ) }}
        </div>

        <div class="form-group">
            {{ form_label(registrationForm.sexe) }}
            <br>
            {{ form_widget(registrationForm.sexe, { 'attr': {'class': 'form-control', 'style':''}} ) }}
        </div>

        <div class="form-group">
            {{ form_label(registrationForm.image) }}
            <br>
            {{ form_widget(registrationForm.image, { 'attr': {'class': 'form-control', 'style':''}} ) }}
        </div>

        <div class="form-group">
            {{ form_label(registrationForm.birthdate) }}
            <br>
            {{ form_widget(registrationForm.birthdate, { 'attr': {'class': 'form-control', 'style':''}} ) }}
        </div>

        <div style="text-align: center">
            {{ form_widget(registrationForm.submit, { 'attr': {'class': 'btn btn-outline-primary btn-lg btn-block"', 'style':''}} ) }}
        </div>
        {{ form_end(registrationForm) }}

        {% if not registrationForm.vars.valid %}
            {# Loop through every form item #}
            {% for child in registrationForm.children %}
                {# Display the errors of the form item #}
                {% if child.vars.errors is defined %}
                    {% for error in child.vars.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error.message }}
                        </div>
                    {% endfor %}
                {% endif %}

            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
